@import "tailwindcss";

:root {
  --background: #070b14;
  --foreground: #f8fafc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #3b82f6;
  color: #ffffff;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #070b14;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}